<div>
  <button routerLink="">Home</button>
  <button *ngIf="authService.user | async" routerLink="tests">Тесты</button>
  <button *ngIf="authService.user | async" routerLink="subjects">Предметы</button>
  <!-- insert routerLink to test -->
</div>
<ng-template #isNotAuthorized>
  <div>
    <button (click)="openLogin();" mat-raised-button>Войти</button>
    <button (click)="openSignup();" mat-raised-button>Зарегистрироваться</button>
  </div>
</ng-template>
<div *ngIf="authService.user | async else isNotAuthorized">
    <button *ngIf="authService.userId && userInfo && userInfo.role === 'Admin'" routerLink="new-users">Новые пользователи</button>
    <button *ngIf="authService.userId && userInfo && userInfo.role === 'Admin'" routerLink="users">Пользователи</button>
    <button *ngIf="authService.userId" (click)="logOut()">Выйти</button>
    <!-- insert routerLink to test -->
    <!-- <button mat-button [matMenuTriggerFor]="menu">{{ (authService.user | async)?.email }}</button> -->
    <!-- <mat-menu #menu="matMenu">
      <button (click)="linkToProfile()" mat-menu-item>Profile</button>
      <button (click)="logout()" mat-menu-item>Sign out</button>
    </mat-menu> -->
</div>

<div appModalHolder></div>
