.test
  // height: 100%
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  border: 0

  &>div
    width: 100%
    display: flex
    margin: 5px

    label
      margin: 5px 0

    &> div
      padding: 10px
      margin: 5px

    &> div:first-child
      width: 250px
      display: flex
      flex-direction: column
      justify-content: flex-end

      .mainInfo
        height: 100%

    &> div:last-child
      flex: 1 1 auto
      display: flex
      flex-direction: column

      textarea
        width: 100% !important

      &> div
        display: flex
        align-items: center

        label
          margin: 2px 5px
          padding: 2px 0

        input[type=text]
          flex: 1 1 auto
          margin: 2px

      &> div:first-child
        display: flex
        flex-direction: column
        margin-bottom: 5px
        align-items: flex-start

.add-task
  outline: none
  border-radius: 5px
  min-width: 150px
  height: 40px
  margin: 5px
  font-weight: bold
  color: white
  border: 1px #5085A5 solid
  background-color: #5085A5

.option-button
  outline: none
  border-radius: 5px
  min-width: 170px
  height: 25px
  margin: 5px
  font-weight: lighter
  color: white
  border: 1px #8FC1E3 solid
  background-color: #8FC1E3
