<form #formData='ngForm'>
  <div class="container">
    <div class="subject-input">
      <label for="name">Название</label>
      <input autocomplete="off" placeholder="Введите название..." [(ngModel)]="name" name="name" id="name" required/>
    </div>

    <div class="subject-input">
      <label for="description">Описание</label>
      <input autocomplete="off" placeholder="Введите описание..." [(ngModel)]="description" name="description" id="description" required/>
    </div>
  </div>

  <div class="buttons">
    <button type="button" class="cancel" (click)="hide()">Cancel</button>
    <button type="button" class="submit" [disabled]="!formData.valid" (click)="onSubmit(formData)">Создать Предмет</button>
  </div>
</form>
