<div class="container">
  <!-- <app-test-form></app-test-form> -->
  <div class="subject-input">
    <label for="name">Название</label>
    <input name="name" />
  </div>

  <div class="subject-input">
    <label for="description">Описание</label>
    <input name="description" />
  </div>

  <!-- <label for="name"></label>
  <input name="name" /> -->

  <div class="buttons">
    <button type="button" class="cancel" routerLink="tests">Cancel</button>
    <button type="button" class="submit" (click)="createTest()">Создать Предмет</button>
  </div>

</div>
