.container
  height: calc(100vh - 40px)
  width: 100%
  background: #e2e1ffc4
  padding: 20px

  .user-row
    width: 100%
    padding: 2px 5px
    border: #ff8a8ad8 1px solid
    display: flex
    justify-content: space-between
    align-items: center
