/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  background: #F7F9FB;
}

body {
  margin: 0;
}

button:hover {
  opacity: 0.8
}
